{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Books{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('store.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for book in books %}
    <article class="Book">
      <header>
        <div>
          <h1>{{ book['title'] }}</h1>
          <div class="body">Price: {{ book['price'] }}kr.</div>
          <div class="about">From {{ book['username'] }}</div>
        </div>
        {% if g.user['id'] == book['sellerID'] %}
          <a class="action" href="{{ url_for('store.update', id=book['id']) }}">Edit</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}