{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ book['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or book['title'] }}" required>
    <label for="price">Price</label>
    <input name="price" id="price" type="number" value="{{ request.form['price'] or book['price'] }}"/>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('store.delete', id=book['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}